<h1>Uptime monitoring</h1>
<h2>Made simple</h2>

<div class="blurb">We offer simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down we'll send you a text to let you know. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil enim deleniti ducimus iure eligendi ipsam at quos omnis quis rerum! Consequuntur aut eligendi consequatur ipsa vel enim saepe fuga explicabo?</div>

<div class="ctaWrapper">
  <a href="/account/create" class="cta green">Get started</a>
  <a href="/session/create" class="cta blue">Login</a>
</div>